.contact-wrapper {
  position: relative;

  .contact {

    // margin-inline: auto;
    // display: block;
    // max-width: 1600px;
    // width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #mc_embed_signup {
      margin: 80px auto;
      padding: 15px;
      font: 16px $jost;
      border-radius: 6px;
      background: #fff;
      clear: left;
      width: 600px;
      color: $dark-font;

      .button {
        font: 18px $jost;
        background-color: $dark-background;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-wrapper {
    position: relative;

    .contact {
      position: relative;
      transform: translate(0);
      left: 0;
      top: 0;

      #mc_embed_shell,
      #mc_embed_signup {
        width: 90vw;
        margin: 80px auto;

        h2 {
          font-size: 18px;
        }
      }

      .button {
        margin: 0 auto;
      }
    }
  }
}