.contact-section {
  position: $rel;

  .contact {
    position: $abs;
    top: 50%;
    left: 50%;
    transform: $transform-center;

    #mc_embed_signup {
      margin: 0 auto;
      padding: 15px;
      font: 16px $jost;
      border-radius: 6px;
      background: #fff;
      // clear: left;
      width: 600px;
      color: $dark-font;
      text-align: center;

      .button {
        font: 18px $jost;
        background-color: $dark-background;
        color: white;
        margin: 0 auto;
      }
    }
  }
}



@media screen and (max-width: $phone-max-width) {
  .contact-section {
    margin: 20px auto 0;

    .contact-hero {
      max-width: 100vw;
      margin: $margin-center;
    }

    .contact {
      position: $rel;
      transform: unset;
      left: unset;
      top: unset;

      #mc_embed_shell,
      #mc_embed_signup {
        width: 90vw;
        margin: 20px auto 0;

        h2 {
          font-size: 18px;
        }
      }

      .button {
        margin: $margin-center;
        padding: 5px 22px;
      }
    }
  }
}