/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/

/* Fonts */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  color: currentColor;
}

h1 {
  font-size: unquote("clamp(2.25rem, 1.293rem + 4.783vw, 5rem)");
}

h2 {
  font-size: unquote("clamp(2rem, 1.2rem + 4.783vw, 4rem)");
}

h3 {
  font-size: unquote("clamp(1.75rem, 1.315rem + 2.174vw, 3rem)");
}

h4 {
  font-size: unquote("clamp(1.5rem, 1.152rem + 1.739vw, 2.5rem)");
}

h5 {
  font-size: unquote("clamp(1.5rem, 0.989rem + 1.304vw, 2rem)");
}

h6 {
  font-size: unquote("clamp(1.5rem, 0.739rem + 1.304vw, 1.75rem)");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: $syncopate;
  font-weight: $normal;
  line-height: 120%;
  letter-spacing: 3.5px;
  margin: 40px auto;
}

p,
a,
ul,
li {
  @include paragraph-font;
  font-size: unquote("clamp(1.4rem, 0.709rem + 0.957vw, 1.3rem)");
}