/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/

/* Fonts */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  color: currentColor;
  font-family: $jost;
  font-weight: 400;
}
