/**
 * Footer Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/

footer {
  margin: 150px auto 0 !important;
  padding-bottom: 150px;

  ul.menu-items {
    li {
      a {
        @include nav-font;
        text-align: center;
        font-size: 2rem;
        padding: 0.7rem;
      }
    }
  }

  .page--logo {
    @include responsive;
    max-width: 275px;
    margin: 80px auto 0;
  }
}

// Responsive Styles
@media screen and (max-width: $phone-max-width) {
  footer {
    margin: 50px auto 0 !important;
    padding-bottom: $spacing-large;

    ul.menu-items {
      li {
        a {
          @include nav-font;
          font-size: 1.5rem;

          :hover {
            font-size: 1.4rem;
          }
        }
      }
    }

    .page--logo {
      margin: 60px auto 0;
      max-width: 200px;
    }
  }
}