/**
 * Footer Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/

footer {
  margin: 150px auto 0;
  padding-bottom: 150px;

  ul {
    li {
      a {
        @include nav-font;
        text-align: center;
        font-size: 60px;
      }
    }
  }

  .page--logo {
    margin: 80px auto 0;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    margin: 50px auto 0;

    ul {
      li {
        a {
          @include nav-font;
          text-align: center;
          font-size: 30px;
        }
      }
    }

    .page--logo {
      margin: 60px auto 0;
      padding-bottom: 40px;
    }
  }
}