.welcome {
    z-index: 999;
    position: absolute;

    .hero-swiper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform 750ms ease-in-out;

        img.hero--image {
            filter: brightness(0.8);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .hero--logo {
            max-width: 275px;
            width: 100%;
            height: auto;
            cursor: pointer;
            position: absolute;
            top: 60px;
            left: 50%;
            z-index: 998;
            transform: translate(-50%, 0);

            ´ :hover {
                cursor: pointer;
            }

        }
    }
}

body.noscroll {
    overflow: hidden
}

.welcome--active {
    transform: translateY(-100%);
}

.content-page--logo {
    max-width: 275px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .hero-swiper {
        .hero--logo {
            top: 20px;
            font-size: 24px;
        }

        img.hero--image {
            object-fit: cover;
            max-height: 100svh;
            width: auto;
        }
    }
}



@keyframes updown {
    0% {
        transform: translateY(-20%)
    }

    50% {
        transform: translateY(20%)
    }

    100% {
        transform: translateY(-20%)
    }
}