.hero-swiper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 750ms ease-in-out;
    z-index: 999;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

    img.hero--image {
        filter: brightness(0.8);
    }

    .hero--logo {
        @include hero-logo;
        cursor: pointer;

        ´ :hover {
            cursor: pointer;
        }
    }

    &--active {
        transform: translateY(-100%);
    }
}



@media screen and (max-width: 768px) {

    .hero--logo {
        top: 20px;
        font-size: 24px;
    }

    img.hero--image {
        object-fit: cover;
        max-height: 100svh;
        width: auto;
    }
}


@keyframes updown {
    0% {
        transform: translate(-50%, -20%);
    }

    50% {
        transform: translate(-50%, 20%);
    }

    100% {
        transform: translate(-50%, -20%);
    }
}