/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
*/

// Global Styles

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  margin: 0;
  position: $rel;
  display: block;
  min-height: 100vh;
  background-color: $light-background;
  font-family: $jost;
  color: $dark-font;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  color: $current;
}

.lenis {
  &.lenis-smooth {
    scroll-behavior: auto !important;

    [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
  }

  &.lenis-stopped {
    overflow: hidden;
  }

  &.lenis-scrolling {
    iframe {
      pointer-events: none;
    }
  }
}

html.lenis {
  height: auto;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.grid {
  display: grid;
  margin: $margin-center;
}

.grid-2 {
  grid-template-columns: repeat(2, auto);
  gap: 5%;
}

// @media (prefers-color-scheme: dark) {

//   body,
//   html,
//   .nav {
//     background-color: $dark-background !important;
//     color: $light-font;
//   }

//   .page--logo {
//     .dark-icon {
//       display: none;
//       background-color: none;
//     }

//     .light-icon {
//       background-color: none;
//       display: block;
//     }
//   }
// }

.dark-mode {
  background-color: $dark-background !important;
  color: $light-font;

  header,
  .nav,
  .test section .bg {
    background-color: $dark-background !important;
    color: $light-font;
  }

  .page--logo {
    .dark-icon {
      display: none;
      background-color: none;
    }

    .light-icon {
      background-color: none;
      display: block;
    }
  }
}

.page--logo {
  background-color: transparent !important;

  .dark-icon {
    display: block;
  }

  .light-icon {
    display: none;
  }
}

header,
nav,
footer,
article,
section,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  display: block;
  clear: both;
  margin-block: 0;
  padding-inline: 0;
}

a img {
  border: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: $current;
}

a:-webkit-any-link {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  margin: $margin-center;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@media screen and (max-width: $phone-max-width) {
  .nav {
    max-width: 100%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}