/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
*/

// Global Styles

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

}

html,
body {
  margin: 0;
  position: relative;
  display: block;
  min-height: 100vh;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

:root {
  margin: 0;
  position: relative;
  background-color: $light-background;
  font-family: $jost;
  color: $dark-font;
}

.content {
  margin-inline: auto;
}

.dark-mode {
  background-color: $dark-background !important;
  color: $light-font;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

header,
nav,
footer,
article,
section,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  display: block;
  clear: both;
}

blockquote {
  quotes: none;

  &:before,
  &:after {
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin-block: 0;
  padding-inline: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

// More styles...
.grid {
  display: grid;
  margin: 0 auto;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.project-title {
  @include heading-font;
  margin-inline: auto;
  margin-block: 40px;
  font-size: 44px;
}

.project-step {
  margin: 20px auto;
}

.project-outline {
  margin-inline: 40px;
  align-items: center;

  p {
    padding-block: 15px;
  }
}

.contact {
  #mc_embed_signup {
    margin: 80px auto;
    padding: 15px;
    font: 16px $jost;
    border-radius: 6px;
    background: #fff;
    clear: left;
    width: 600px;
    color: $dark-font;

    .button {
      font: 18px $jost;
      background-color: $dark-background;
    }
  }
}

.build-process {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 40px auto;
}

.visualize-button {
  background-color: $dark-background;
  color: $light-font;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 60px auto;
  padding: 10px 40px;
  border: 2px $light-background solid;
  border-radius: 6px;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav {
    max-width: 100%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section--header {
    margin-block: 80px;
    font-size: 24px;
  }

  .text-logo {
    font-size: 30px;
    margin-block: 40px;
  }

  .project-outline {
    margin-inline: 30px;
  }

  .project-title {
    font-size: 32px;
    margin-block: 20px;
  }

  .visualize-button {
    font-size: 18px;
    white-space: nowrap;
    padding: 10px 20px;
    margin: 40px auto;
  }
}