nav {
  position: fixed;
  max-width: 1920px;
  background-color: $light-background;
  width: 100%;
  margin: -60px auto 0;
  height: 60px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);

  .menu-items {
    flex-direction: column;
    background-color: $light-background;
    margin: 0 auto;
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translateY(-150%);
    transition: transform 0.6s ease-in-out;
    text-align: center;
  }

  .open {
    display: block !important;
  }

  a {
    @include nav-font;
    font-size: 1.6rem;
    padding: 0.7rem;
  }

  a.active {
    font-weight: 700 !important;
  }

  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 12px;
    right: 17px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .hamburger-lines {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26px;
    width: 32px;
    top: 17px;
    right: 20px;
    z-index: 2;
  }

  .nav-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    fill: currentColor;
    right: 75px;
    top: 13px;
    width: 2em;
    height: 2em;
    z-index: 2;
  }

  .dark-icon {
    display: none;
  }

  .overlay {
    color: $dark-background;
  }

  .hamburger-lines {
    .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: currentColor;
    }

    .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }

    .line2 {
      transition: transform 0.2s ease-in-out;
    }

    .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }

  input[type="checkbox"]:checked {
    ~.menu-items {
      transform: translateX(0);
    }

    ~.hamburger-lines {
      .line1 {
        transform: rotate(45deg);
      }

      .line2 {
        transform: scaleY(0);
      }

      .line3 {
        transform: rotate(-45deg);
      }
    }

    ~.logo {
      display: none;
    }
  }
}



// $blue: #002d5c;
// $white: #FFFFFF;
// $black: #000000;
// $lt-grey: #f6f8f8;
// $grey: #E7E7E7;
// $dk-grey: #717c84;

// $header-height: 80px;

// $height-icon: 25px;
// $width-line: 40px;
// $height-line: 5px;
// $transition-time: 0.4s;
// $rotation: 45deg;
// $translateY: (
//   $height-icon / 2
// );
// $translateX: 0;


// body.menu-open {
//   overflow: hidden;
//   background-color: rgba(0, 0, 0, 0.5);
//   transition: 0.3s;

//   #mobile-nav {
//     overflow-y: auto;
//     height: 80vh;
//     -webkit-box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.75);
//     -moz-box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.75);
//     box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.75);
//   }
// }

// header {
//   width: 100%;
//   position: fixed;
//   display: block;
//   padding: 0;
//   min-height: $header-height;
//   background: rgb(0, 45, 92);
//   z-index: 11;
// }

// .toggle-background {
//   border-left: 1px solid $grey !important;
// }

// .toggle-rotate {
//   transform: rotate(180deg);
// }

// .toggle-nav {
//   float: right;
//   width: 2em;
//   height: 2em;
//   text-align: center;
//   font-size: 2em;
//   line-height: 2em;
//   color: #fff;
//   transition: all 0.25s ease;
//   cursor: pointer;

//   &:hover {
//     color: $white;
//   }
// }

// #mobile-nav {
//   display: none;
//   background: $white;
//   width: 100%;
//   position: relative;
//   z-index: 2;
//   top: 30px;

//   ul {
//     margin: 0;
//     padding-left: 0;
//     z-index: 3;

//     li {
//       list-style: none;
//       position: relative;

//       a {
//         padding: 1em;
//         color: $dk-grey;
//         text-decoration: none;
//         font-weight: 600;
//         font-size: 1em;
//         border-bottom: 1px solid $grey;
//         display: block;
//         transition: 0.5s linear;

//         &:hover {
//           background-color: darken($white, 20%);
//         }
//       }

//       &.current-menu-item {
//         a {
//           color: $blue;
//         }

//         ul li a {
//           color: $dk-grey;
//         }
//       }

//       ul {
//         background: $lt-grey;
//         font-size: .8em;
//         display: none;

//         a {
//           padding-left: 2em;
//           color: #717c84;
//           border-bottom: 1px solid $grey;
//           text-transform: uppercase;
//         }

//         ul {
//           display: none;
//         }
//       }
//     }
//   }

//   .accordion-toggle {
//     position: absolute;
//     top: 0;
//     height: 52px;
//     z-index: 999;
//     font-size: 1.8em;
//     line-height: 1.9;
//     right: 0;
//     font-family: "FontAwesome";
//     color: $blue;
//     background-color: $lt-grey;
//     cursor: pointer;
//     padding: 0 15px;
//     transition: all 0.25s ease;
//     border-left: 1px solid $white;

//     .fa {
//       transition: all 0.25s ease;
//     }
//   }
// }

// #menu-icon {
//   width: $width-line;
//   height: $height-icon;
//   position: relative;
//   display: block;
//   margin-top: 25px;
//   margin-right: 25px;

//   .line {
//     display: block;
//     background: $white;
//     width: $width-line;
//     height: $height-line;
//     position: absolute;
//     left: 0;
//     border-radius: ($height-line / 2);
//     transition: all $transition-time;
//     -webkit-transition: all $transition-time;
//     -moz-transition: all $transition-time;

//     &.line-1 {
//       top: 0;
//     }

//     &.line-2 {
//       top: 50%;
//     }

//     &.line-3 {
//       top: 100%;
//     }
//   }

//   &:hover,
//   &:focus {
//     .line-1 {
//       transform: translateY($height-line / 2 * -1);
//       -webkit-transform: translateY($height-line / 2 * -1);
//       -moz-transform: translateY($height-line / 2 * -1);
//     }

//     .line-3 {
//       transform: translateY($height-line / 2);
//       -webkit-transform: translateY($height-line / 2);
//       -moz-transform: translateY($height-line / 2);
//     }
//   }

//   &.active {
//     .line-1 {
//       transform: translateY($translateY) translateX($translateX) rotate($rotation);
//       -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
//       -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
//     }

//     .line-2 {
//       opacity: 0;
//     }

//     .line-3 {
//       transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
//       -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
//       -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
//     }
//   }
// }

// #content {
//   padding: 100px 50px;
// }

// #mobile-nav {
//   display: none;
// }

// #mobile-nav.active {
//   display: block;
// }