.hero {
  position: relative;
  margin-inline: auto;
  max-width: 1920px;
  margin-top: 60px;

  img.hero--image {
    max-width: 1920px;
    width: 100%;
    height: auto;
    filter: brightness(0.8);
  }

  .hero--logo {
    @include hero-logo;
  }

  .hero--logo:hover {
    cursor: pointer;
  }
}

.text-logo {
  @include text-logo;
  margin-block: 60px;
}

section {
  padding-block: 60px;
  max-width: 1920px;
  margin-inline: auto;
}

.section--header {
  margin-block: 150px;
}

#forminator-module-123 {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .hero-swiper {
    .hero--logo {
      top: 20px;
      font-size: 24px;
    }
  }
}