.hero-swiper {
  position: relative;
  max-width: 1920px;
  height: auto;
  margin-inline: auto;

  .hero--logo {
    @include text-logo;
    position: absolute;
    top: 45px;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, 0);
  }
  .hero--logo:hover {
    cursor: pointer;
  }
}

.text-logo {
  @include text-logo;
  margin-block: 60px;
}

section {
  padding-block: 60px;
}

.section--header {
  margin-block: 150px;
}

@media screen and (max-width: 768px) {
  .hero-swiper {
    .hero--logo {
      top: 20px;
      font-size: 24px;
    }
  }
}
