.mySwiper {
  max-width: $desktop-max-width;
  @include responsive;
  margin: 30px auto 0;
  top: 0;

  .swiper-slide {
    @include responsive;

    img {
      margin: 0;
      max-height: 415px;

      &.swiper-horizontal {
        max-width: 400px;
        @include responsive;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $current;
  }
}


@media screen and (max-width: $phone-max-width) {
  .mySwiper {
    max-width: 375px;

    .swiper-slide {

      img {
        margin: 0 25px;

        &.swiper-horizontal {
          max-width: 326px;
          height: 415px;
          object-fit: cover;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 0vw;

      &::after {
        font-size: 1.8rem;
      }
    }
  }
}