.mySwiper {
  max-width: $desktop-max-width;
  @include responsive;
  margin: 30px auto 0;
  top: 0;

  .swiper-slide {
    @include responsive;

    img {
      margin: 0;
      max-height: 415px;

      &.swiper-horizontal {
        max-width: 400px;
        @include responsive;
      }
    }
  }
}

.swiper-button-next-outer,
.swiper-button-prev-outer {
  color: $current;
  position: absolute;
  z-index: 1005;
  top: 50%;
}

.swiper-button-next-outer {
  left: 0;
}

.swiper-button-prev-outer {
  right: 0;
}

@media screen and (max-width: $phone-max-width) {
  .mySwiper {
    max-width: 375px;

    .swiper-slide {

      img {
        margin: 0 25px;

        &.swiper-horizontal {
          max-width: 326px;
          height: 415px;
          object-fit: cover;
        }
      }
    }

    &::after {
      font-size: 1.8rem;
    }
  }

  .swiper-button-next-outer,
  .swiper-button-prev-outer {
    width: 0vw;
  }
}