/**
 * Sass variables and functions.
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
 */

// Breakpoints
$screen-full: 1920px;
$screen-xxl: 1660px;
$screen-xl: 1441px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Containers
$container-max-width: $screen-xxl;
$container-padding: 30px;
$normal-spacing: 4vw auto;

// Transitions
$transition-speed: 0.3s;
$transition-fast: 0.3s ease-in-ease-out;
$transition-slow: 0.5s ease-in-ease-out;

// Core Colors
$black: #000;
$white: #fff;
$dark-font: #424040;
$light-font: #dad3d1;
$dark-background: #333030;
$light-background: #f4eee9;
$primary-color: #d9d9d9;
$nav-text: #f2f2f2;
$quote-color: #bf8958;

// Link Attributes
// $link-color: $lt-red;
// $link-hover-color: $grey;
$link-transition-speed: 0.15s;
$trans: 0.3s linear;
$animationSpeed: 40s;

// Typography
//$FONTFAMILY: 'FONTFAMILY', sans-serif;
$icomoon: "Icomoon";

// $body-font-family: $overpass;
// $body-text-color: $dk-blue;
$body-line-height: 130%;
$normal-spacing: 4vw auto;
$button-radius: 3px;
$primary-color: #d9d9d9;
$quote-color: #bf8958;

// Font Weight
$light: 300;
$normal: 400;
$bold: 700;

$sans: "open-sans", sans-serif;
$work-sans: "work-sans", sans-serif;
$jost: "jost", sans-serif;
