/**
 * Sass variables and functions.
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
 */

// Breakpoints
$screen-full: 1920px;
$screen-xxl: 1660px;
$screen-xl: 1441px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Containers
$container-max-width: $screen-xxl;
$container-padding: 30px;

// Transitions
$transition-speed: 0.3s;
$transition-fast: 0.3s ease-in-ease-out;
$transition-slow: 0.5s ease-in-ease-out;
$link-transition-speed: 0.15s;
$trans: 0.3s linear;
$animationSpeed: 40s;

// Core Colors
$black: #000;
$white: #fff;
$dark-font: #424040;
$light-font: #dad3d1;
$dark-background: rgb(34, 34, 34);
$light-background: rgb(244, 238, 233);
$primary-color: #d9d9d9;
$nav-text: #f2f2f2;
$quote-color: #bf8958;

// Typography
$icomoon: "Icomoon";
$body-line-height: 130%;
$button-radius: 3px;

// Font Weight
$light: 300;
$normal: 400;
$bold: 700;

// Font Families
$sans: "open-sans", sans-serif;
$work-sans: "work-sans", sans-serif;
$jost: "jost", sans-serif;
$syncopate: "syncopate", sans-serif;

// Spacing
$normal-spacing: 4vw auto;
