/**
 * Primary theme stylesheet.
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
 */
/*!* WARNING: This is a generated stylesheet. To make changes edit styles.scss
*/
/**
 * Theme footer
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/
/**
 * Sass variables and functions.
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
 */
/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/
/* Fonts */
/* line 15, ../sass/_fonts.scss */
ul li, ol li {
  margin: 0 0 0 20px;
  font-size: 18px;
}

/* line 24, ../sass/_fonts.scss */
h1 {
  font-family: "work-sans", sans-serif;
  font-style: normal;
  font-size: 52px;
  font-weight: 700;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 1441px) {
  /* line 24, ../sass/_fonts.scss */
  h1 {
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 24, ../sass/_fonts.scss */
  h1 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media screen and (max-width: 992px) {
  /* line 24, ../sass/_fonts.scss */
  h1 {
    font-size: 35px;
    line-height: 36px;
  }
}

/* line 48, ../sass/_fonts.scss */
h3 {
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 45px;
}
@media screen and (max-width: 1200px) {
  /* line 48, ../sass/_fonts.scss */
  h3 {
    font-size: 38px;
    line-height: 41px;
  }
}
@media screen and (max-width: 992px) {
  /* line 48, ../sass/_fonts.scss */
  h3 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (max-width: 992px) {
  /* line 48, ../sass/_fonts.scss */
  h3 {
    font-size: 28px;
    line-height: 30px;
  }
}

/* line 67, ../sass/_fonts.scss */
p {
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "open-sans", sans-serif;
  line-height: 26px;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  /* line 67, ../sass/_fonts.scss */
  p {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 992px) {
  /* line 67, ../sass/_fonts.scss */
  p {
    font-size: 16px;
    line-height: 26xp;
  }
}

/* line 85, ../sass/_fonts.scss */
hr {
  margin: 25px 0;
  border-top: 1px solid #FFFFFF;
}

/**
 * Page Template Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
*/
@media screen and (max-width: 768px) {
  /* line 9, ../sass/_pages.scss */
  #about {
    background: none !important;
  }
}
/* line 14, ../sass/_pages.scss */
#about_intro {
  max-width: 30%;
  margin-left: 10%;
  padding: 100px 25px;
}
@media screen and (max-width: 992px) {
  /* line 14, ../sass/_pages.scss */
  #about_intro {
    max-width: 100%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/_pages.scss */
  #about_intro {
    padding: 60px 20px;
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
/* line 30, ../sass/_pages.scss */
#about_intro .signal-icon {
  max-width: 70px;
  transform: rotate(45deg);
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 30, ../sass/_pages.scss */
  #about_intro .signal-icon {
    transform: rotate(0deg);
  }
}
/* line 39, ../sass/_pages.scss */
#about_intro h3 {
  margin-top: 0;
  font-size: 38px;
  line-height: 52px;
  font-family: "work-sans", sans-serif;
}
@media screen and (max-width: 768px) {
  /* line 39, ../sass/_pages.scss */
  #about_intro h3 {
    font-size: 26px;
    line-height: 35px;
  }
}
/* line 50, ../sass/_pages.scss */
#about_intro p {
  line-height: 33px;
  margin-bottom: 30px;
}
/* line 56, ../sass/_pages.scss */
#about_intro .orang-btn {
  margin-top: 50px;
}
/* line 61, ../sass/_pages.scss */
#about #about-masonry {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
}
/* line 68, ../sass/_pages.scss */
#about #about-masonry .grid-item {
  flex: 1 0 auto;
}
@media screen and (max-width: 992px) {
  /* line 68, ../sass/_pages.scss */
  #about #about-masonry .grid-item {
    flex: auto;
  }
}
@media screen and (max-width: 768px) {
  /* line 61, ../sass/_pages.scss */
  #about #about-masonry {
    padding-bottom: 60px;
    max-width: 100%;
    max-width: 320px !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 768px) {
  /* line 84, ../sass/_pages.scss */
  #team {
    background: none !important;
  }
}
/* line 88, ../sass/_pages.scss */
#team_header {
  padding: 100px 25px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 88, ../sass/_pages.scss */
  #team_header {
    padding: 50px 30px;
  }
}
/* line 94, ../sass/_pages.scss */
#team_header img {
  display: block;
  margin: 0 auto;
  width: 180px !important;
}
@media screen and (max-width: 768px) {
  /* line 94, ../sass/_pages.scss */
  #team_header img {
    width: 80px;
  }
}
/* line 102, ../sass/_pages.scss */
#team_header h1 {
  font-family: "work-sans", sans-serif;
  font-size: 52px;
  line-height: 56px;
  color: #FFFFFF;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  /* line 102, ../sass/_pages.scss */
  #team_header h1 {
    font-size: 33px;
    line-height: 42px;
  }
}
/* line 116, ../sass/_pages.scss */
#team .team_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 120px;
  align-items: start;
  justify-items: center;
  padding: 100px 25px 300px 25px;
}
@media screen and (max-width: 992px) {
  /* line 116, ../sass/_pages.scss */
  #team .team_grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 80px 25px 250px 25px;
  }
}
@media screen and (max-width: 768px) {
  /* line 116, ../sass/_pages.scss */
  #team .team_grid {
    grid-template-columns: 1fr;
    padding: 60px 25px 200px 25px;
  }
}
/* line 134, ../sass/_pages.scss */
#team .team_grid-profile {
  display: block;
  text-align: center;
  max-width: 350px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  /* line 134, ../sass/_pages.scss */
  #team .team_grid-profile {
    margin-bottom: 40px;
  }
}
/* line 143, ../sass/_pages.scss */
#team .team_grid-profile:hover .team_grid-link:after {
  right: -10px;
}
/* line 150, ../sass/_pages.scss */
#team .team_grid-illinois {
  display: block;
  background: url("/wp-content/uploads/2022/10/illinois-1.png") no-repeat top right 50px;
}
/* line 155, ../sass/_pages.scss */
#team .team_grid-wisconsin {
  display: block;
  background: url("/wp-content/uploads/2022/10/wisconsin-1.png") no-repeat top right 0px;
}
/* line 163, ../sass/_pages.scss */
#team .team_grid-state {
  display: block;
  text-align: center;
  font-family: "open-sans", sans-serif;
  text-transform: uppercase;
  color: #F89A1C;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
}
/* line 176, ../sass/_pages.scss */
#team .team_grid-headshot {
  width: 215px;
  height: 215px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  /* line 176, ../sass/_pages.scss */
  #team .team_grid-headshot {
    width: 175px;
    height: 175px;
  }
}
/* line 187, ../sass/_pages.scss */
#team .team_grid-name {
  font-family: "work-sans", sans-serif;
  color: #FFFFFF;
  font-size: 29px;
  line-height: 38px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  /* line 187, ../sass/_pages.scss */
  #team .team_grid-name {
    font-size: 21px;
    line-height: 24px;
  }
}
/* line 198, ../sass/_pages.scss */
#team .team_grid-title {
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 33px;
}
@media screen and (max-width: 768px) {
  /* line 198, ../sass/_pages.scss */
  #team .team_grid-title {
    font-size: 16px;
    line-height: 26px;
  }
}
/* line 208, ../sass/_pages.scss */
#team .team_grid-phone {
  display: block;
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 33px;
  text-decoration: underline;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  /* line 208, ../sass/_pages.scss */
  #team .team_grid-phone {
    font-size: 16px;
    line-height: 26px;
  }
}
/* line 220, ../sass/_pages.scss */
#team .team_grid-phone:before {
  content: "";
  background: url("/wp-content/uploads/2022/11/phone-icon.png") no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
/* line 229, ../sass/_pages.scss */
#team .team_grid-phone-container {
  min-height: 35px;
  display: block;
}
/* line 234, ../sass/_pages.scss */
#team .team_grid-link {
  display: block;
  position: relative;
  margin-top: 15px;
  padding-right: 10px;
  font-family: "open-sans", sans-serif;
  color: #F89A1C;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  transition: 0.3s linear;
}
/* line 245, ../sass/_pages.scss */
#team .team_grid-link:after {
  content: "";
  background: url("/wp-content/uploads/2022/11/arrow.png") no-repeat;
  display: inline-block;
  height: 15px;
  width: 20px;
  margin-left: 10px;
  transition: 0.3s linear;
  position: relative;
  right: 0;
}
/* line 259, ../sass/_pages.scss */
#team .team_grid-profile-308 .team_grid-link {
  display: none !important;
}

/* line 266, ../sass/_pages.scss */
#team-single {
  padding: 100px 25px 200px 25px;
}
@media screen and (max-width: 768px) {
  /* line 266, ../sass/_pages.scss */
  #team-single {
    padding: 60px 20px 200px 20px;
    background: none !important;
  }
}
/* line 273, ../sass/_pages.scss */
#team-single_grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  /* line 273, ../sass/_pages.scss */
  #team-single_grid {
    display: block;
  }
}
/* line 284, ../sass/_pages.scss */
#team-single_left {
  align-content: start;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  /* line 284, ../sass/_pages.scss */
  #team-single_left {
    max-width: 260px;
    margin: 0 auto;
  }
}
/* line 293, ../sass/_pages.scss */
#team-single_illinois {
  display: block;
  background: url("/wp-content/uploads/2022/10/illinois-1.png") no-repeat top right 50px;
}
/* line 298, ../sass/_pages.scss */
#team-single_wisconsin {
  display: block;
  background: url("/wp-content/uploads/2022/10/wisconsin-1.png") no-repeat top right 0px;
}
/* line 304, ../sass/_pages.scss */
#team-single_headshot {
  width: 215px;
  height: 215px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  /* line 304, ../sass/_pages.scss */
  #team-single_headshot {
    width: 175px;
    height: 175px;
  }
}
/* line 316, ../sass/_pages.scss */
#team-single_right {
  text-align: left;
}
/* line 321, ../sass/_pages.scss */
#team-single_line {
  display: block;
  height: 6px;
  width: 100px;
  background: #F89A1C;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  /* line 321, ../sass/_pages.scss */
  #team-single_line {
    margin: 30px auto;
  }
}
/* line 332, ../sass/_pages.scss */
#team-single_state {
  display: block;
  text-align: left;
  font-family: "open-sans", sans-serif;
  text-transform: uppercase;
  color: #F89A1C;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  /* line 332, ../sass/_pages.scss */
  #team-single_state {
    text-align: center;
  }
}
/* line 346, ../sass/_pages.scss */
#team-single h1 {
  font-family: "work-sans", sans-serif;
  color: #FFFFFF;
  font-size: 38px;
  line-height: 52px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 346, ../sass/_pages.scss */
  #team-single h1 {
    font-size: 26px;
    line-height: 35px;
    text-align: center;
  }
}
/* line 360, ../sass/_pages.scss */
#team-single_info p {
  margin-top: 5px;
}
/* line 365, ../sass/_pages.scss */
#team-single_title {
  font-family: "work-sans", sans-serif;
  color: #FFFFFF;
  font-size: 29px;
  line-height: 38px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 365, ../sass/_pages.scss */
  #team-single_title {
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    display: block;
  }
}
/* line 380, ../sass/_pages.scss */
#team-single_line-vert {
  display: inline-block;
  width: 2px;
  height: 24px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #F89A1C;
  position: relative;
  top: 5px;
}
@media screen and (max-width: 768px) {
  /* line 380, ../sass/_pages.scss */
  #team-single_line-vert {
    width: 64px;
    height: 2px;
    margin: 15px auto;
    display: block;
  }
}
/* line 397, ../sass/_pages.scss */
#team-single_phone {
  display: inline-block;
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 33px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* line 397, ../sass/_pages.scss */
  #team-single_phone {
    display: block;
    text-align: center;
  }
}
/* line 408, ../sass/_pages.scss */
#team-single_phone:before {
  content: "";
  background: url("/wp-content/uploads/2022/11/phone-icon.png") no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

/* line 422, ../sass/_pages.scss */
#team-short {
  padding: 100px 50px 60px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #262626 16.72%, rgba(51, 51, 51, 0) 100%), no-repeat;
  background-size: 30%;
}
@media screen and (max-width: 768px) {
  /* line 422, ../sass/_pages.scss */
  #team-short {
    padding: 60px 15px;
  }
}
/* line 429, ../sass/_pages.scss */
#team-short h3 {
  text-align: center;
}
/* line 434, ../sass/_pages.scss */
#team-short a.btn-orange {
  display: block;
  margin: 50px auto;
  max-width: 200px;
}
/* line 440, ../sass/_pages.scss */
#team-short .team-short_grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 120px;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  /* line 440, ../sass/_pages.scss */
  #team-short .team-short_grid {
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }
}
/* line 454, ../sass/_pages.scss */
#team-short .team-short_grid-profile {
  display: block;
  text-align: center;
  max-width: 350px;
  width: 100%;
}
/* line 460, ../sass/_pages.scss */
#team-short .team-short_grid-profile:hover .team_grid-link:after {
  right: -10px;
}
/* line 467, ../sass/_pages.scss */
#team-short .team-short_grid-illinois {
  display: block;
  background: url("/wp-content/uploads/2022/10/illinois-1.png") no-repeat top right 50px;
}
/* line 472, ../sass/_pages.scss */
#team-short .team-short_grid-wisconsin {
  display: block;
  background: url("/wp-content/uploads/2022/10/wisconsin-1.png") no-repeat top right 0px;
}
/* line 480, ../sass/_pages.scss */
#team-short .team-short_grid-state {
  display: block;
  text-align: center;
  font-family: "open-sans", sans-serif;
  text-transform: uppercase;
  color: #F89A1C;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  /* line 480, ../sass/_pages.scss */
  #team-short .team-short_grid-state {
    font-size: 18px;
    line-height: 33px;
  }
}
/* line 494, ../sass/_pages.scss */
#team-short .team-short_grid-headshot {
  width: 215px;
  height: 215px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  /* line 494, ../sass/_pages.scss */
  #team-short .team-short_grid-headshot {
    width: 175px;
    height: 175px;
  }
}
/* line 505, ../sass/_pages.scss */
#team-short .team-short_grid-name {
  font-family: "work-sans", sans-serif;
  color: #FFFFFF;
  font-size: 29px;
  line-height: 38px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  /* line 505, ../sass/_pages.scss */
  #team-short .team-short_grid-name {
    font-size: 21px;
    line-height: 24px;
  }
}
/* line 516, ../sass/_pages.scss */
#team-short .team-short_grid-title {
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 33px;
}
@media screen and (max-width: 768px) {
  /* line 516, ../sass/_pages.scss */
  #team-short .team-short_grid-title {
    font-size: 16px;
    line-height: 26px;
  }
}
/* line 526, ../sass/_pages.scss */
#team-short .team-short_grid-phone {
  display: block;
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 33px;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  /* line 526, ../sass/_pages.scss */
  #team-short .team-short_grid-phone {
    font-size: 16px;
    line-height: 26px;
  }
}
/* line 537, ../sass/_pages.scss */
#team-short .team-short_grid-phone:before {
  content: "";
  background: url("/wp-content/uploads/2022/11/phone-icon.png") no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
/* line 546, ../sass/_pages.scss */
#team-short .team-short_grid-link {
  display: block;
  position: relative;
  margin-top: 15px;
  padding-right: 10px;
  font-family: "open-sans", sans-serif;
  color: #F89A1C;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  transition: 0.3s linear;
}
/* line 557, ../sass/_pages.scss */
#team-short .team-short_grid-link:after {
  content: "";
  background: url("/wp-content/uploads/2022/11/arrow.png") no-repeat;
  display: inline-block;
  height: 15px;
  width: 20px;
  margin-left: 10px;
  transition: 0.3s linear;
  position: relative;
  right: 0;
}

/* line 574, ../sass/_pages.scss */
#products_top {
  min-height: 500px;
}
@media screen and (max-width: 768px) {
  /* line 574, ../sass/_pages.scss */
  #products_top {
    min-height: auto;
    background: linear-gradient(0deg, transparent 0%, black 40%, black 100%) !important;
  }
}
/* line 582, ../sass/_pages.scss */
#products_hero {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 90px 30px;
}
@media screen and (max-width: 992px) {
  /* line 582, ../sass/_pages.scss */
  #products_hero {
    grid-template-columns: 300px 1fr;
  }
}
@media screen and (max-width: 768px) {
  /* line 582, ../sass/_pages.scss */
  #products_hero {
    grid-template-columns: 1fr;
    padding: 60px 20px;
  }
}
/* line 597, ../sass/_pages.scss */
#products_hero-left {
  max-width: 500px;
}
@media screen and (max-width: 992px) {
  /* line 600, ../sass/_pages.scss */
  #products_hero-left img {
    position: relative;
    left: -20px;
    max-width: 240px;
  }
}
/* line 607, ../sass/_pages.scss */
#products_hero-right {
  max-width: 500px;
}
/* line 613, ../sass/_pages.scss */
#products_hero-copy {
  line-height: 33px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  /* line 613, ../sass/_pages.scss */
  #products_hero-copy {
    font-size: 16px;
    line-height: 26px;
  }
}
/* line 623, ../sass/_pages.scss */
#products_content {
  padding: 100px 50px 60px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #262626 16.72%, rgba(51, 51, 51, 0) 100%), url("/wp-content/uploads/2022/11/brand-graphics-1.png") no-repeat bottom -150px left;
  background-size: 30%;
}
@media screen and (max-width: 992px) {
  /* line 623, ../sass/_pages.scss */
  #products_content {
    padding: 60px 20px;
  }
}
/* line 637, ../sass/_pages.scss */
#products .products_tiles-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: 1fr;
  min-height: 300px;
  grid-gap: 40px;
  border-radius: 30px;
  border: 3px solid #262626;
  background: #000000;
  margin: 0 auto 40px auto;
  max-width: 1100px;
  align-items: center;
  justify-items: center;
  padding-right: 50px;
}
@media screen and (max-width: 992px) {
  /* line 637, ../sass/_pages.scss */
  #products .products_tiles-grid {
    grid-template-columns: 1fr;
    padding: 25px;
  }
}
@media screen and (max-width: 768px) {
  /* line 637, ../sass/_pages.scss */
  #products .products_tiles-grid {
    padding: 15px;
  }
}
/* line 659, ../sass/_pages.scss */
#products .products_tiles-grid:hover {
  border: 3px solid #F89A1C;
}
/* line 662, ../sass/_pages.scss */
#products .products_tiles-grid:hover .products_tiles-link {
  text-decoration: underline;
}
/* line 667, ../sass/_pages.scss */
#products .products_tiles-grid .products_tiles-left img {
  border-radius: 30px 0 0 30px;
}
/* line 671, ../sass/_pages.scss */
#products .products_tiles-grid .products_tiles-link {
  display: block;
  color: #F89A1C;
  text-transform: uppercase;
  font-family: "work-sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 30px;
  padding-bottom: 5px;
  transition: 0.3s linear;
  text-decoration: none;
}

/* line 692, ../sass/_pages.scss */
#contact {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #262626 16.72%, rgba(51, 51, 51, 0) 100%), url("/wp-content/uploads/2022/11/waves-right.png") no-repeat bottom -150px right;
  background-size: 30%;
}
/* line 696, ../sass/_pages.scss */
#contact #contact_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  max-width: 1400px;
  padding: 100px 25px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  /* line 696, ../sass/_pages.scss */
  #contact #contact_grid {
    grid-template-columns: 1fr;
    padding: 60px 25px;
  }
}
/* line 707, ../sass/_pages.scss */
#contact #contact_grid-left {
  max-width: 440px;
}
@media screen and (max-width: 992px) {
  /* line 707, ../sass/_pages.scss */
  #contact #contact_grid-left {
    max-width: 100%;
    text-align: center;
  }
}
/* line 714, ../sass/_pages.scss */
#contact #contact_grid-left h2 {
  margin-top: 0;
  font-size: 38px;
  line-height: 52px;
  font-family: "work-sans", sans-serif;
}
@media screen and (max-width: 768px) {
  /* line 714, ../sass/_pages.scss */
  #contact #contact_grid-left h2 {
    grid-template-columns: 1fr;
    padding: 25px;
  }
}
/* line 725, ../sass/_pages.scss */
#contact #contact_grid-left p {
  line-height: 33px;
  margin-bottom: 30px;
}
/* line 730, ../sass/_pages.scss */
#contact #contact_grid-left #site-tagline {
  font-family: "work-sans", sans-serif;
  font-size: 19px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 700;
}
/* line 743, ../sass/_pages.scss */
#contact_line {
  display: block;
  height: 6px;
  width: 100px;
  background: #F89A1C;
  margin-bottom: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  /* line 743, ../sass/_pages.scss */
  #contact_line {
    margin: 0 auto;
  }
}
/* line 759, ../sass/_pages.scss */
#contact-address {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
}
/* line 766, ../sass/_pages.scss */
#contact-phone {
  font-size: 16px;
  line-height: 26px;
  display: block;
  margin-bottom: 30px;
}
/* line 773, ../sass/_pages.scss */
#contact-email {
  display: block;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 992px) {
  /* line 780, ../sass/_pages.scss */
  #contact-social {
    display: block;
    max-width: 140px;
    margin: 0 auto;
  }
}
/* line 790, ../sass/_pages.scss */
#contact .signal-icon {
  max-width: 70px;
  transform: rotate(45deg);
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  /* line 790, ../sass/_pages.scss */
  #contact .signal-icon {
    transform: rotate(0deg);
  }
}

/* line 808, ../sass/_pages.scss */
.wpcf7-form label {
  font-weight: 700;
  font-family: "work-sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-left: 20px;
}

/* line 816, ../sass/_pages.scss */
.wpcf7-form input, .wpcf7-form textarea {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #707070;
  background: #262626;
  font-family: "open-sans", sans-serif !important;
  width: 100%;
}

/* line 827, ../sass/_pages.scss */
.wpcf7-form input[type=submit] {
  color: #F89A1C;
  background-color: none;
  border: 3px solid #F89A1C;
  text-align: center;
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s linear;
  border-radius: 35px;
  text-transform: uppercase;
}
/* line 847, ../sass/_pages.scss */
.wpcf7-form input[type=submit]:hover {
  text-decoration: none;
  background-color: #F89A1C;
  color: #262626;
}
/* line 852, ../sass/_pages.scss */
.wpcf7-form input[type=submit]:active {
  background-color: #F89A1C;
}

/* line 857, ../sass/_pages.scss */
.wpcf7-form .wpcf7-response-output, .wpcf7-form .wpcf7-not-valid-tip {
  border: none;
  color: #F89A1C;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  /* line 863, ../sass/_pages.scss */
  #results {
    background: none !important;
  }
}
/* line 868, ../sass/_pages.scss */
#results_header {
  padding: 100px 25px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 868, ../sass/_pages.scss */
  #results_header {
    padding: 50px 30px;
  }
}
/* line 874, ../sass/_pages.scss */
#results_header img {
  display: block;
  margin: 0 auto;
  width: 180px !important;
}
@media screen and (max-width: 768px) {
  /* line 874, ../sass/_pages.scss */
  #results_header img {
    width: 80px;
  }
}
/* line 882, ../sass/_pages.scss */
#results_header h1 {
  font-family: "work-sans", sans-serif;
  font-size: 52px;
  line-height: 56px;
  color: #FFFFFF;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  /* line 882, ../sass/_pages.scss */
  #results_header h1 {
    font-size: 33px;
    line-height: 42px;
  }
}

/* line 897, ../sass/_pages.scss */
#results_selector {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}
/* line 904, ../sass/_pages.scss */
#results_selector h2 {
  font-family: "work-sans", sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  /* line 904, ../sass/_pages.scss */
  #results_selector h2 {
    font-size: 30px;
    line-height: 42px;
  }
}
/* line 915, ../sass/_pages.scss */
#results_selector img {
  max-width: 150px;
  position: relative;
  z-index: 2;
  top: -50%;
}

/* line 924, ../sass/_pages.scss */
#results_list {
  margin-bottom: 100px;
}
/* line 926, ../sass/_pages.scss */
#results_list .illinois-results, #results_list .wisconsin-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
/* line 931, ../sass/_pages.scss */
#results_list .illinois-results a, #results_list .wisconsin-results a {
  display: block;
  text-align: center;
  font-family: "open-sans", sans-serif;
  text-transform: uppercase;
  color: #F89A1C;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  /* line 931, ../sass/_pages.scss */
  #results_list .illinois-results a, #results_list .wisconsin-results a {
    font-size: 18px;
    line-height: 33px;
  }
}
/* line 945, ../sass/_pages.scss */
#results_list .illinois-results a:after, #results_list .wisconsin-results a:after {
  content: "";
  background: url("/wp-content/uploads/2022/11/arrow.png") no-repeat;
  display: inline-block;
  height: 15px;
  width: 20px;
  margin-left: 10px;
  transition: 0.3s linear;
  position: relative;
  right: 0;
}

/* line 960, ../sass/_pages.scss */
#results_selector {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

/* line 971, ../sass/_pages.scss */
#results_selector h2 {
  font-size: 40px;
  line-height: 46px;
  color: #fff;
  z-index: 3;
  display: block;
  position: relative;
  text-align: center;
}

/* line 981, ../sass/_pages.scss */
#results_selector img {
  position: relative;
  z-index: 2;
  top: -50%;
  display: block;
  margin: 0 auto;
}

/* line 989, ../sass/_pages.scss */
#results_selector-illinois h2 {
  color: #F89A1C;
}

/* line 995, ../sass/_pages.scss */
#results_header {
  padding: 100px 25px;
  text-align: center;
}

/* line 1000, ../sass/_pages.scss */
#results_header img {
  display: block;
  margin: 0 auto;
  width: 180px !important;
}

/* line 1006, ../sass/_pages.scss */
#results_header h1 {
  font-family: "work-sans", sans-serif;
  font-size: 52px;
  line-height: 56px;
  color: #FFFFFF;
  margin-top: 0;
}

/* line 1014, ../sass/_pages.scss */
.results_title h2 {
  font-size: 40px;
  line-height: 46px;
  color: #fff;
  z-index: 3;
  display: block;
  position: relative;
  text-align: center;
}

	/* .results_title img {
        position:relative;
        z-index: 2;
		top:-200px;
		display:block;
		margin:0 auto;
		
    } */
/* line 1034, ../sass/_pages.scss */
#results_list {
  margin-bottom: 100px;
}

/* line 1038, ../sass/_pages.scss */
#illinois-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

/* line 1044, ../sass/_pages.scss */
#wisconsin-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

/* line 1050, ../sass/_pages.scss */
#results_list a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
}

/* line 1061, ../sass/_pages.scss */
#illinois-results, #wisconsin-results {
  margin-bottom: 150px;
  display: none;
}

/* line 1065, ../sass/_pages.scss */
#illinois-results.active {
  display: grid !important;
}

/* line 1068, ../sass/_pages.scss */
#wisconsin-results.active {
  display: block !important;
}

/* line 1072, ../sass/_pages.scss */
#results_selector-illinois h2 {
  color: #F89A1C;
}

/* line 1076, ../sass/_pages.scss */
#results_selector {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

/* line 1086, ../sass/_pages.scss */
#results_selector h2 {
  font-size: 40px;
  line-height: 46px;
  color: #fff;
  z-index: 3;
  display: block;
  position: relative;
  text-align: center;
}

/* line 1096, ../sass/_pages.scss */
#results_selector img {
  position: relative;
  z-index: 2;
  top: -200px;
  display: block;
  margin: 0 auto;
}

/* line 1104, ../sass/_pages.scss */
#results_selector-illinois h2 {
  color: #F89A1C;
}

/**
 * Template Front Page Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/
/* line 8, ../sass/_frontpage.scss */
body.home ul#menu-primary-nav li#menu-item-265, body.home ul#menu-primary-nav-1 li.page-item-175 {
  display: none !important;
}

/* line 18, ../sass/_frontpage.scss */
#fp-hero {
  background-size: 120vh;
  background-position: right;
}
@media screen and (max-width: 992px) {
  /* line 18, ../sass/_frontpage.scss */
  #fp-hero {
    background-position: top !important;
    background-size: 100% !important;
  }
}
/* line 27, ../sass/_frontpage.scss */
#fp-hero_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 992px) {
  /* line 27, ../sass/_frontpage.scss */
  #fp-hero_grid {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 42, ../sass/_frontpage.scss */
#fp-hero_right {
  grid-column: 2;
  grid-row: 1;
  padding-top: 40px;
}
@media screen and (max-width: 992px) {
  /* line 42, ../sass/_frontpage.scss */
  #fp-hero_right {
    grid-column: 1;
    max-width: 250px;
    padding-top: 50px;
    position: relative;
    left: -50px;
  }
}
/* line 55, ../sass/_frontpage.scss */
#fp-hero_left {
  max-width: 450px;
  padding-top: 140px;
  padding-bottom: 140px;
}
@media screen and (max-width: 768px) {
  /* line 55, ../sass/_frontpage.scss */
  #fp-hero_left {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
/* line 67, ../sass/_frontpage.scss */
#fp-hero_left h4 {
  color: #F89A1C;
  font-size: 18px;
  line-height: 33px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  /* line 67, ../sass/_frontpage.scss */
  #fp-hero_left h4 {
    font-size: 16px;
    line-height: 26px;
  }
}
/* line 79, ../sass/_frontpage.scss */
#fp-hero_left h1 {
  font-family: "work-sans", sans-serif;
  font-size: 52px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  /* line 79, ../sass/_frontpage.scss */
  #fp-hero_left h1 {
    font-size: 33px;
    line-height: 42px;
  }
}
/* line 90, ../sass/_frontpage.scss */
#fp-hero_left p {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  /* line 90, ../sass/_frontpage.scss */
  #fp-hero_left p {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 30px;
  }
}
/* line 100, ../sass/_frontpage.scss */
#fp-hero_left a.btn-orange {
  margin-bottom: 60px;
}

/* line 106, ../sass/_frontpage.scss */
#fp-grid {
  padding: 200px 50px 200px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #262626 16.72%, rgba(51, 51, 51, 0) 100%), url("/wp-content/uploads/2022/11/brand-graphics-1.png") no-repeat bottom -150px left;
  background-size: 30%;
}
@media screen and (max-width: 992px) {
  /* line 106, ../sass/_frontpage.scss */
  #fp-grid {
    padding: 100px 30px 100px 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #262626 16.72%, rgba(51, 51, 51, 0) 100%), url("/wp-content/uploads/2022/11/brand-graphics-1.png") no-repeat bottom -100px left;
    background-size: 70vw;
  }
}
/* line 116, ../sass/_frontpage.scss */
#fp-grid_content {
  display: flex;
  flex-direction: row;
  grid-gap: 60px;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
}
@media screen and (max-width: 992px) {
  /* line 116, ../sass/_frontpage.scss */
  #fp-grid_content {
    display: block;
  }
}
/* line 128, ../sass/_frontpage.scss */
#fp-grid_content a.fp-grid_link {
  border: 3px solid #262626;
  background: #000000;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  padding: 50px;
  display: grid;
  align-items: end;
  font-family: "work-sans", sans-serif;
}
@media screen and (max-width: 992px) {
  /* line 128, ../sass/_frontpage.scss */
  #fp-grid_content a.fp-grid_link {
    margin-bottom: 20px;
    padding: 30px;
  }
}
/* line 143, ../sass/_frontpage.scss */
#fp-grid_content a.fp-grid_link:hover {
  border: 3px solid #F89A1C;
}
/* line 146, ../sass/_frontpage.scss */
#fp-grid_content a.fp-grid_link:hover .products_tiles-link {
  text-decoration: underline;
}
/* line 151, ../sass/_frontpage.scss */
#fp-grid_content a.fp-grid_link img {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* line 160, ../sass/_frontpage.scss */
#fp-cta {
  display: block;
  background-color: #F89A1C;
  padding: 100px 30px;
  color: #000000;
}
@media screen and (max-width: 992px) {
  /* line 160, ../sass/_frontpage.scss */
  #fp-cta {
    padding: 50px 30px;
  }
}
/* line 168, ../sass/_frontpage.scss */
#fp-cta_container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 60px;
  justify-content: start;
}
@media screen and (max-width: 992px) {
  /* line 168, ../sass/_frontpage.scss */
  #fp-cta_container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
/* line 180, ../sass/_frontpage.scss */
#fp-cta_left p {
  font-size: 38px;
  line-height: 52px;
  color: #000000;
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  /* line 180, ../sass/_frontpage.scss */
  #fp-cta_left p {
    font-size: 26px;
    line-height: 35px;
  }
}
/* line 195, ../sass/_frontpage.scss */
#fp-cta_right p {
  color: #000000;
  font-size: 18px;
  line-height: 33px;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  /* line 195, ../sass/_frontpage.scss */
  #fp-cta_right p {
    font-size: 16px;
    line-height: 26px;
  }
}

/* line 209, ../sass/_frontpage.scss */
#fp-quote {
  background: #000000;
  padding: 150px 50px;
}
@media screen and (max-width: 992px) {
  /* line 209, ../sass/_frontpage.scss */
  #fp-quote {
    padding: 100px 30px;
  }
}
/* line 215, ../sass/_frontpage.scss */
#fp-quote_container {
  background-color: #262626;
  background: url("/wp-content/uploads/2022/10/quotes-orange-1.png") no-repeat top 50px center #262626;
  padding: 120px 60px 60px 60px;
  border-radius: 30px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 992px) {
  /* line 215, ../sass/_frontpage.scss */
  #fp-quote_container {
    padding: 80px 30px 60px 30px;
  }
}
/* line 227, ../sass/_frontpage.scss */
#fp-quote_container h1, #fp-quote_container h2, #fp-quote_container h3, #fp-quote_container h4, #fp-quote_container h5, #fp-quote_container h6, #fp-quote_container a, #fp-quote_container p {
  color: #FFFFFF;
  font-weight: 700;
}
/* line 232, ../sass/_frontpage.scss */
#fp-quote_container p strong {
  color: #F89A1C !important;
}
/* line 235, ../sass/_frontpage.scss */
#fp-quote_container:after {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 50px 50px 0;
  border-color: #262626 transparent;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 50px);
}

/**
 * Footer Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/
/* line 7, ../sass/_footer.scss */
footer {
  background-color: #262626;
  padding: 65px 40px 65px 60px;
  background: url("/wp-content/uploads/2022/10/signal-vert-1.png") no-repeat #262626;
  background-position: center bottom;
}
@media screen and (max-width: 992px) {
  /* line 7, ../sass/_footer.scss */
  footer {
    padding: 45px 60px;
  }
}
@media screen and (max-width: 768px) {
  /* line 7, ../sass/_footer.scss */
  footer {
    background: url("/wp-content/uploads/2022/10/signal-diagnol-1.png") no-repeat #262626;
    background-position: bottom right;
  }
}

/* line 20, ../sass/_footer.scss */
#footer_grid {
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-gap: 15px;
  justify-items: end;
}
@media screen and (max-width: 768px) {
  /* line 20, ../sass/_footer.scss */
  #footer_grid {
    display: block;
  }
}

/* line 30, ../sass/_footer.scss */
#footer_left {
  width: 100%;
  max-width: 260px;
  display: block;
  margin-top: 40%;
}
@media screen and (max-width: 768px) {
  /* line 30, ../sass/_footer.scss */
  #footer_left {
    margin: 0 auto;
    max-width: 200px;
  }
}

/* line 40, ../sass/_footer.scss */
#footer_right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  /* line 40, ../sass/_footer.scss */
  #footer_right {
    text-align: center;
    margin-top: 30px;
  }
}
/* line 46, ../sass/_footer.scss */
#footer_right #footer-social {
  display: block;
  margin-bottom: 30px;
  max-width: 160px;
  margin-left: 140px;
}
@media screen and (max-width: 768px) {
  /* line 46, ../sass/_footer.scss */
  #footer_right #footer-social {
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
/* line 56, ../sass/_footer.scss */
#footer_right #footer-phone, #footer_right #footer-address, #footer_right #footer-email, #footer_right #footer-copyright {
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 10px;
}
/* line 64, ../sass/_footer.scss */
#footer_right #footer-copyright {
  color: #707070 !important;
  margin-top: 20px;
}
/* line 69, ../sass/_footer.scss */
#footer_right .footer-facebook {
  display: inline-block;
  margin-right: 20px;
}
/* line 73, ../sass/_footer.scss */
#footer_right .footer-social {
  display: inline-block;
}

/**
 * Header Styles
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
**/
/* line 7, ../sass/_header.scss */
header {
  background-color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1200px) {
  /* line 7, ../sass/_header.scss */
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  /* line 7, ../sass/_header.scss */
  header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* line 22, ../sass/_header.scss */
#header_container {
  padding-right: 25px;
}

/* line 25, ../sass/_header.scss */
#header_grid {
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-gap: 15px;
  padding: 0 30px;
}
@media screen and (max-width: 1200px) {
  /* line 25, ../sass/_header.scss */
  #header_grid {
    grid-template-columns: 210px 1fr;
    padding: 0 25px;
  }
}
@media screen and (max-width: 992px) {
  /* line 25, ../sass/_header.scss */
  #header_grid {
    grid-template-columns: 1fr 40px;
    padding: 0 20px;
  }
}

/* line 39, ../sass/_header.scss */
#header_left {
  width: 100%;
  max-width: 210px;
  display: block;
}
/* line 43, ../sass/_header.scss */
#header_left a {
  max-width: 200px;
  display: block;
}
/* line 46, ../sass/_header.scss */
#header_left a img {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
  padding: 0 0 !important;
  margin: 0;
}

/* line 61, ../sass/_header.scss */
#header_right {
  text-align: right;
}
/* line 63, ../sass/_header.scss */
#header_right .menu {
  list-style-type: none;
  display: inline-block;
  margin-top: 5px;
}
@media screen and (max-width: 992px) {
  /* line 63, ../sass/_header.scss */
  #header_right .menu {
    display: none;
  }
}
/* line 70, ../sass/_header.scss */
#header_right .menu li {
  display: inline-block;
}
/* line 72, ../sass/_header.scss */
#header_right .menu li.current-menu-item a {
  color: #F89A1C;
  border-bottom: 2px solid #F89A1C;
}
/* line 76, ../sass/_header.scss */
#header_right .menu li a {
  display: block;
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
/* line 87, ../sass/_header.scss */
#header_right .menu li a:hover {
  border-bottom: 2px solid #F89A1C;
  text-decoration: none !important;
}
/* line 91, ../sass/_header.scss */
#header_right .menu li a:active {
  border-bottom: 2px solid #F89A1C;
  text-decoration: none !important;
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  /* line 104, ../sass/_header.scss */
  #header_mobile {
    display: none;
  }
}
/* line 110, ../sass/_header.scss */
* {
  box-sizing: border-box;
}

/* line 114, ../sass/_header.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 119, ../sass/_header.scss */
header {
  /* box-shadow: 0px 3px 3px rgba(0,0,0,0.2); */
  height: 100px;
  position: relative;
}

/* line 125, ../sass/_header.scss */
.content {
  display: block;
  padding: 50px;
}

/* line 130, ../sass/_header.scss */
html.nav-open {
  position: fixed;
}

/* line 134, ../sass/_header.scss */
#slide-nav.active {
  display: block;
  opacity: 1;
  position: fixed;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  right: 0;
  margin-right: 0;
}

/* line 144, ../sass/_header.scss */
html.nav-open #menu-icon hr:nth-child(1) {
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  margin-top: 24px !important;
}

/* line 151, ../sass/_header.scss */
html.nav-open #menu-icon hr:nth-child(2) {
  opacity: 0 !important;
}

/* line 155, ../sass/_header.scss */
html.nav-open #menu-icon hr:nth-child(3) {
  -webkit-transform: rotate(-45deg) !important;
  -ms-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
  margin-top: -28px !important;
}

/* line 162, ../sass/_header.scss */
#menu-icon {
  display: block;
  position: absolute;
  right: 0;
  height: 60px;
  margin-top: 0px;
  margin-right: 15px;
  z-index: 777;
  padding: 10px;
  cursor: pointer;
}

/* line 175, ../sass/_header.scss */
#menu-icon div {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 20px;
}

/* line 181, ../sass/_header.scss */
#menu-icon hr {
  width: 40px;
  border-radius: 10px;
  display: block;
  border: 2px solid #707070;
  margin: 10px auto;
  padding: 0;
  background-color: #707070;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #707070;
}

/* line 194, ../sass/_header.scss */
body.logged-in #slide-nav {
  margin-top: 140px;
}

/* line 197, ../sass/_header.scss */
#slide-nav {
  display: block;
  opacity: 0;
  position: fixed;
  background-color: #262626;
  transform: translateX(400px);
  -webkit-transform: translateX(400px);
  top: 0;
  right: 0;
  width: 260px;
  margin-top: 100px;
  clear: both;
  height: 100%;
  padding: 20px 0 20px 0;
  overflow: scroll;
  z-index: 666;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 250px 250px black;
  box-shadow: 0px 250px 250px black;
}

/* line 220, ../sass/_header.scss */
#slide-nav .menu {
  display: block;
  list-style-type: none;
  margin: 10px 0 40px 0;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 228, ../sass/_header.scss */
#slide-nav .menu ul {
  list-style-type: none;
  margin-left: 0;
}

/* line 232, ../sass/_header.scss */
#slide-nav .menu li {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
/* line 238, ../sass/_header.scss */
#slide-nav .menu li.current_page_item a {
  color: #F89A1C;
}

/* line 244, ../sass/_header.scss */
#slide-nav ul li a {
  text-align: center;
  border-bottom: none !important;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
}
/* line 250, ../sass/_header.scss */
#slide-nav ul li a:hover {
  border-bottom: none !important;
  color: #FFFFFF;
}

/* line 256, ../sass/_header.scss */
ul.sub-menu {
  display: none;
}

/* line 260, ../sass/_header.scss */
ul.sub-menu.open {
  display: block !important;
}

/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package reinbuilt
 * @author Gunther Beam LLC
*/
/* line 19, ../sass/_global.scss */
html, body {
  font-size: 18px;
  line-height: 1;
  background-color: #000000;
  font-family: "open-sans", sans-serif;
  color: #FFFFFF;
}

/* line 27, ../sass/_global.scss */
header, nav, footer, article, section {
  display: block;
}

/* line 31, ../sass/_global.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 36, ../sass/_global.scss */
ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* line 41, ../sass/_global.scss */
ol {
  margin-left: 20px;
}

/* line 45, ../sass/_global.scss */
blockquote {
  quotes: none;
}
/* line 47, ../sass/_global.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 53, ../sass/_global.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../sass/_global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 62, ../sass/_global.scss */
a img {
  border: none;
}

/* line 73, ../sass/_global.scss */
.img-responsive {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
  padding: 0 0 !important;
  margin: 0;
}

/* line 81, ../sass/_global.scss */
.container-full {
  max-width: 1920px;
  margin: 0 auto;
}

/* line 86, ../sass/_global.scss */
.container {
  max-width: 1441px;
  padding: 60px 30px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  /* line 86, ../sass/_global.scss */
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* line 86, ../sass/_global.scss */
  .container {
    padding: 0 15px;
  }
}

/* line 98, ../sass/_global.scss */
.container-md {
  max-width: 667px;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 104, ../sass/_global.scss */
section {
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  /* line 104, ../sass/_global.scss */
  section {
    padding: 60px 0;
  }
}
@media screen and (max-width: 667px) {
  /* line 104, ../sass/_global.scss */
  section {
    padding: 40px 0;
  }
}

/* line 118, ../sass/_global.scss */
a {
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  color: #FFFFFF;
}
/* line 123, ../sass/_global.scss */
a:hover {
  text-decoration: none;
}

/* line 129, ../sass/_global.scss */
.btn {
  display: inline-block;
  padding: 15px 40px;
  text-decoration: none;
  transition: 0.3s linear;
}

/* line 143, ../sass/_global.scss */
.btn-white {
  color: #FFFFFF;
  background-color: none;
  border: 3px solid #FFFFFF;
  text-align: center;
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s linear;
  border-radius: 35px;
  text-transform: uppercase;
}
/* line 163, ../sass/_global.scss */
.btn-white:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
}
/* line 168, ../sass/_global.scss */
.btn-white:active {
  background-color: #FFFFFF;
}

/* line 173, ../sass/_global.scss */
.btn-black {
  color: #000000;
  background-color: none;
  border: 3px solid #000000;
  text-align: center;
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s linear;
  border-radius: 35px;
  text-transform: uppercase;
}
/* line 193, ../sass/_global.scss */
.btn-black:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
}
/* line 198, ../sass/_global.scss */
.btn-black:active {
  background-color: #000000;
  border: 3px solid #000000;
}

/* line 204, ../sass/_global.scss */
.btn-orange {
  color: #F89A1C;
  background-color: none;
  border: 3px solid #F89A1C;
  text-align: center;
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s linear;
  border-radius: 35px;
  text-transform: uppercase;
}
/* line 224, ../sass/_global.scss */
.btn-orange:hover {
  text-decoration: none;
  background-color: #F89A1C;
  color: #000000;
}
/* line 229, ../sass/_global.scss */
.btn-orange:active {
  background-color: #F89A1C;
  border: 3px solid #000000;
  color: #000000;
}

/* line 242, ../sass/_global.scss */
.orange-highlight_container {
  position: relative;
  display: block;
}
/* line 245, ../sass/_global.scss */
.orange-highlight_container:after {
  content: "";
  background: url("/wp-content/uploads/2022/10/signal-orange.png") no-repeat;
  height: 230px;
  width: 230px;
  display: block;
  position: absolute;
  z-index: 20;
  background-size: contain;
  background-position: center center;
  left: 410px;
  transform: rotate(135deg);
  top: 395px;
}
/* line 260, ../sass/_global.scss */
.orange-highlight_container .orange-highlight {
  position: relative;
  display: block;
  z-index: 3;
  border-radius: 200px 0 200px 0;
  width: 600px !important;
  top: 30px;
  left: 30px;
}
/* line 270, ../sass/_global.scss */
.orange-highlight_container .orange-box {
  display: block;
  border: 6px solid #F89A1C;
  border-radius: 200px 0 200px 0;
  position: absolute;
  z-index: 4;
  width: 600px;
  height: 600px;
}

/* line 282, ../sass/_global.scss */
#contact-block {
  padding: 120px 30px;
  margin: 0;
  background: #F89A1C;
  color: #000000;
}
@media screen and (max-width: 768px) {
  /* line 282, ../sass/_global.scss */
  #contact-block {
    padding: 60px 15px 80px 15px;
  }
}
/* line 291, ../sass/_global.scss */
#contact-block h2 {
  font-size: 38px;
  line-height: 52px;
  font-family: "work-sans", sans-serif;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  /* line 291, ../sass/_global.scss */
  #contact-block h2 {
    font-size: 26px;
    line-height: 35px;
  }
}
/* line 301, ../sass/_global.scss */
#contact-block h2, #contact-block h3, #contact-block h4, #contact-block h5, #contact-block h6, #contact-block p, #contact-block a {
  color: #000000;
}
/* line 305, ../sass/_global.scss */
#contact-block a {
  margin-top: 30px;
  color: #000000;
  background-color: none;
  border: 3px solid #000000;
  text-align: center;
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s linear;
  border-radius: 35px;
  text-transform: uppercase;
}
/* line 326, ../sass/_global.scss */
#contact-block a:hover {
  text-decoration: none;
  background-color: #000000;
  color: #F89A1C;
}
/* line 331, ../sass/_global.scss */
#contact-block a:active {
  background-color: #000000;
  border: 3px solid #000000;
}

/* line 338, ../sass/_global.scss */
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 140px;
  align-items: center;
  justify-items: center;
}
/* line 345, ../sass/_global.scss */
.social a {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: block;
  border-radius: 50%;
}
/* line 351, ../sass/_global.scss */
.social a img {
  display: block;
  margin: 0 auto;
}
/* line 356, ../sass/_global.scss */
.social a img.facebook {
  padding-top: 4px;
  max-width: 15px;
}
/* line 360, ../sass/_global.scss */
.social a img.instagram {
  padding-top: 5px;
  max-width: 20px;
}
/* line 364, ../sass/_global.scss */
.social a img.twitter {
  padding-top: 6px;
  max-width: 19px;
}
